# Question 1

Introduction:
    
Special thanks to: https://github.com/justmarkham for sharing the dataset and
materials.
Occupations

Step 1. Import the necessary libraries

Step 2. Import the dataset from this address.

Step 3. Assign it to a variable called users

Step 4. Discover what is the mean age per occupation

Step 5. Discover the Male ratio per occupation and sort it from the most to the least

Step 6. For each occupation, calculate the minimum and maximum ages

Step 7. For each combination of occupation and sex, calculate the mean age

Step 8. For each occupation present the percentage of women and men

In [6]:
import pandas as pd

users = pd.read_table(r'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='|', index_col='user_id')

u_occupation = users.set_index(["occupation"])
      
# step 4 mean age per occupation
mean_age = u_occupation["age"].groupby('occupation').mean()
mean_age

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

In [12]:
# step 5 the Male ratio per occupation and sort it from the most to the least

gender_occupation = users.groupby('gender')['occupation'].value_counts()
sex_ratio = gender_occupation['M']/gender_occupation['F']
print(sex_ratio.sort_values(ascending=False))

occupation
engineer         32.500000
technician       26.000000
retired          13.000000
programmer       10.000000
executive         9.666667
scientist         9.333333
entertainment     8.000000
lawyer            5.000000
salesman          3.000000
educator          2.653846
student           2.266667
other             1.916667
marketing         1.600000
writer            1.368421
none              1.250000
administrator     1.194444
artist            1.153846
librarian         0.758621
healthcare        0.454545
homemaker         0.166667
doctor                 NaN
Name: occupation, dtype: float64

In [14]:
# step 6 max and min age by occupation
maximum_age =  u_occupation["age"].groupby('occupation').max()
minimum_age =  u_occupation["age"].groupby('occupation').min()
print(maximum_age, minimum_age)

occupation
administrator    70
artist           48
doctor           64
educator         63
engineer         70
entertainment    50
executive        69
healthcare       62
homemaker        50
lawyer           53
librarian        69
marketing        55
none             55
other            64
programmer       63
retired          73
salesman         66
scientist        55
student          42
technician       55
writer           60
Name: age, dtype: int64 occupation
administrator    21
artist           19
doctor           28
educator         23
engineer         22
entertainment    15
executive        22
healthcare       22
homemaker        20
lawyer           21
librarian        23
marketing        24
none             11
other            13
programmer       20
retired          51
salesman         18
scientist        23
student           7
technician       21
writer           18
Name: age, dtype: int64

In [16]:
# step 7 For each combination of occupation and sex, calculate the mean age
users.groupby(['occupation','gender'])['age'].mean()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

In [18]:
# step 8 For each occupation present the percentage of women and men

gender_occupation = users.groupby('gender')['occupation'].value_counts()
male_sex_ratio = gender_occupation['M']/(gender_occupation['M'] + gender_occupation['F'])*100
female_sex_ratio = gender_occupation['F']/(gender_occupation['M'] + gender_occupation['F'])*100
print(male_sex_ratio, female_sex_ratio)

occupation
administrator    54.430380
artist           53.571429
doctor                 NaN
educator         72.631579
engineer         97.014925
entertainment    88.888889
executive        90.625000
healthcare       31.250000
homemaker        14.285714
lawyer           83.333333
librarian        43.137255
marketing        61.538462
none             55.555556
other            65.714286
programmer       90.909091
retired          92.857143
salesman         75.000000
scientist        90.322581
student          69.387755
technician       96.296296
writer           57.777778
Name: occupation, dtype: float64 occupation
administrator    45.569620
artist           46.428571
doctor                 NaN
educator         27.368421
engineer          2.985075
entertainment    11.111111
executive         9.375000
healthcare       68.750000
homemaker        85.714286
lawyer           16.666667
librarian        56.862745
marketing        38.461538
none             44.444444
other            34.285714
programmer        9.090909
retired           7.142857
salesman         25.000000
scientist         9.677419
student          30.612245
technician        3.703704
writer           42.222222
Name: occupation, dtype: float64

# Question 2

Euro Teams

Step 1. Import the necessary libraries

Step 2. Import the dataset from this address

Step 3. Assign it to a variable called euro12

Step 4. Select only the Goal column

Step 5. How many team participated in the Euro2012?

Step 6. What is the number of columns in the dataset?

Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them
to a dataframe called discipline

Step 8. Sort the teams by Red Cards, then to Yellow Cards

Step 9. Calculate the mean Yellow Cards given per Team

In [20]:
# step1,2,3,4

import pandas as pd

euro12 = pd.read_csv(r'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv')

euro12['Goals']

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

In [21]:
# step 5 How many team participated in the Euro2012?
euro12.shape[0]

16

In [22]:
# step 6 What is the number of columns in the dataset?
euro12.shape[1]

35

In [23]:
# step 7 View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline
discipline = euro12[['Team', 'Yellow Cards', 'Red Cards']]
discipline

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

In [26]:
# step 8 Sort the teams by Red Cards, then to Yellow Cards
cards = euro12.sort_values(by=['Red Cards', 'Yellow Cards'])
cards

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20

In [28]:
# step 9 Calculate the mean Yellow Cards given per Team
euro12['Yellow Cards'].mean()

7.4375

In [29]:
# step 10 Filter teams that scored more than 6 goals
euro12[euro12.Goals > 6]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18

In [30]:
# step 11 Select the teams that start with G
euro12[euro12.Team.str.startswith('G')]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20

In [31]:
# Step 12 Select the first 7 columns
euro12.iloc[:, :7]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked)
0,Croatia,4,13,12,51.9%,16.0%,32
1,Czech Republic,4,13,18,41.9%,12.9%,39
2,Denmark,4,10,10,50.0%,20.0%,27
3,England,5,11,18,50.0%,17.2%,40
4,France,3,22,24,37.9%,6.5%,65
5,Germany,10,32,32,47.8%,15.6%,80
6,Greece,5,8,18,30.7%,19.2%,32
7,Italy,6,34,45,43.0%,7.5%,110
8,Netherlands,2,12,36,25.0%,4.1%,60
9,Poland,2,15,23,39.4%,5.2%,48
10,Portugal,6,22,42,34.3%,9.3%,82
11,Republic of Ireland,1,7,12,36.8%,5.2%,28
12,Russia,5,9,31,22.5%,12.5%,59
13,Spain,12,42,33,55.9%,16.0%,100
14,Sweden,5,17,19,47.2%,13.8%,39
15,Ukraine,2,7,26,21.2%,6.0%,38

In [32]:
# Step 13 Select all columns except the last 3
euro12.iloc[:, :-3]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,0,10,3,13,81.3%,41,62,2,9,0
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,1,10,6,9,60.1%,53,73,8,7,0
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,1,10,5,10,66.7%,25,38,8,4,0
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,2,29,3,22,88.1%,43,45,6,5,0
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,1,7,5,6,54.6%,36,51,5,6,0
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,1,11,6,10,62.6%,63,49,12,4,0
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,1,23,7,13,65.1%,67,48,12,9,1
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,2,18,7,20,74.1%,101,89,16,16,0
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,0,9,5,12,70.6%,35,30,3,5,0
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,0,8,3,6,66.7%,48,56,3,7,1
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,2,11,4,10,71.5%,73,90,10,12,0
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,0,23,9,17,65.4%,43,51,11,6,1
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,0,8,3,10,77.0%,34,43,4,6,0
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,5,8,1,15,93.8%,102,83,19,11,0
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,1,12,5,8,61.6%,35,51,7,7,0
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,0,4,4,13,76.5%,48,31,4,5,0

In [41]:
# Step 14 Present only the Shooting Accuracy from England, Italy and Russia
euro12[(euro12.Team == "England") | (euro12.Team == "Italy") | (euro12.Team == "Russia")]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16

# Question 3 - Housing
* Import the necessary libraries
* Create 3 different Series, each of length 100, as follows:
    • The first a random number from 1 to 4
    • The second a random number from 1 to 3
    • The third a random number from 10,000 to 30,000
* Create a DataFrame by joinning the Series by column
* Change the name of the columns to bedrs, bathrs, price_sqr_meter
* Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'
* Ops it seems it is going only until index 99. Is it true?
* Reindex the DataFrame so it goes from 0 to 299

In [ ]:
import pandas as pd
import random

Series1 = pd.Series(random.randint(1, 4) for _ in range(100))
Series2 = pd.Series(random.randint(1, 2) for _ in range(100))
Series3 = pd.Series(random.randint(10000, 30000) for _ in range(100))

In [ ]:
df = pd.concat([Series1, Series2, Series3], axis = 1)
df

In [ ]:
df.columns = ["bedrs", "bathrs", "price_sqr_meter"]
df

In [ ]:
# Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'
ddf = pd.concat([Series1, Series2, Series3])
ddf

### Ops it seems it is going only until index 99. Is it true?
Yes, its true

In [ ]:
# Reindex the DataFrame so it goes from 0 to 299
# ddf.reindex([_ for _ in range(300)])
ddf.reset_index(drop=True)

# Question 4 - Wind Statistics 
[Solution](https://github.com/guipsamora/pandas_exercises/blob/master/06_Stats/Wind_Stats/Exercises_with_solutions.ipynb)

In [ ]:
import pandas as pd
import datetime

url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data"
data = pd.read_csv(url, sep="\s+", parse_dates=[[0,1,2]])

data

In [ ]:
def date_fix(d):
    year = d.year - 100 if d.year > 1989 else d.year
    return datetime.date(year, d.month, d.day)
    
data['Yr_Mo_Dy']  = data['Yr_Mo_Dy'].apply(date_fix)

data

In [ ]:
data["Yr_Mo_Dy"] = pd.to_datetime(data["Yr_Mo_Dy"])
data = data.set_index('Yr_Mo_Dy')
data

In [ ]:
# Number of non-missing values for each location
data.isnull().sum()

In [ ]:
data.notnull().sum()

In [ ]:
# Calculate the mean windspeeds of the windspeeds over all the locations and all the times
data.sum().sum() / data.notna().sum().sum()

In [ ]:
data.describe(percentiles=[])

In [ ]:
# create the dataframe
day_stats = pd.DataFrame()

# this time we determine axis equals to one so it gets each row.
day_stats['min'] = data.min(axis = 1) # min
day_stats['max'] = data.max(axis = 1) # max 
day_stats['mean'] = data.mean(axis = 1) # mean
day_stats['std'] = data.std(axis = 1) # standard deviations

day_stats.head()

In [ ]:
# Find the average windspeed in January for each location.
data.loc[data.index.month == 1].mean()

In [ ]:
# Downsample the record to a yearly frequency for each location
data.groupby(data.index.to_period('A')).mean()

In [ ]:
# Downsample the record to a monthly frequency for each location.
data.groupby(data.index.to_period('M')).mean()

In [ ]:
# Downsample the record to a weekly frequency for each location.
data.groupby(data.index.to_period('W')).mean()

# Question 5

In [ ]:
import pandas as pd
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep='\t')
chipo[:10]

In [ ]:
# The number of observations in the dataset
chipo.shape[0]

In [ ]:
# What is the number of columns in the dataset
chipo.shape[1]

In [ ]:
chipo.columns

In [ ]:
# How is the dataset indexed?

In [ ]:
# How many different items are sold?
# chipo.groupby('item_name').count()

# Question 6
Create a line plot showing the number of marriages and divorces per capita in the U.S. between 1867 and 2014. Label both lines and show the legend.Don't forget to label your axes!

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

data = pd.read_csv("us-marriages-divorces-1867-2014.csv")
# data
marriages_per_capita = data['Marriages_per_1000']
divorces_per_capita = data['Divorces_per_1000']

columns = marriages_per_capita, divorces_per_capita
years = data['Year']
ind = ["marriages per capita", "divorces per capita"]

# create x data
x_data = range(1867, 1867 + data.shape[0])
# create figure and axis
fig, ax = plt.subplots()


# plot each column
# for column in columns:
#     ax.plot(x_data, column)
for i in range(len(columns)):
    ax.plot(x_data, columns[i], label=ind[i])
    
# plt.plot(marriages_per_capita, divorces_per_capita, label="Divorce Rates")
ax.set_xlabel('Year')
ax.set_ylabel('Marriage/Divorces per 1000 people')
ax.legend()

# Question 7 
Create a vertical bar chart comparing the number of marriages and divorces per-capita in the U.S. between 1900, 1950, and 2000.
Don't forget to label your axes!

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

data = pd.read_csv("us-marriages-divorces-1867-2014.csv")

# data
marriages_per_capita = data['Marriages_per_1000']
divorces_per_capita = data['Divorces_per_1000']

# columns = marriages_per_capita, divorces_per_capita
# years = data['Year']
# ind = ["marriages per capita", "divorces per capita"]

# # create x data
# x_data = range(1867, 1867 + data.shape[0])
# # create figure and axis
# fig, ax = plt.bar(x_data, columns)

# Question 8
Create a horizontal bar chart that compares the deadliest actors in Hollywood. Sort
the actors by their kill count and label each bar with the corresponding actor's name.
Don't forget to label your axes!

In [ ]:
hollywood_actor_kills = pd.read_csv('actor_kill_counts.csv')
hollywood_actor_kills = hollywood_actor_kills.sort_values(by=['Count'])
# print(hollywood_actor_kills)

actor_names = hollywood_actor_kills['Actor'].values
kill_counts = hollywood_actor_kills['Count'].values


plt.bar(actor_names, kill_counts, label=actor_names)
plt.xticks(rotation='vertical')
plt.xlabel("Actors")
plt.ylabel("Number of kills")

# Question 9
Create a pie chart showing the fraction of all Roman Emperors that were
assassinated.
Make sure that the pie chart is an even circle, labels the categories, and shows the
percentage breakdown of the categories.

### **Can't figure out whats the question trin' to ask**

In [ ]:
# most probably this one is correct
roman_emperors = pd.read_csv('roman-emperor-reigns.csv')
roman_emperor_reign_lengths = roman_emperors['Length_of_Reign'].values

# Note: Not sure 'bout "possible assassination" still including it. 
val = roman_emperors.loc[roman_emperors['Cause_of_Death'] == 'Assassinated']
val = val.append(roman_emperors.loc[roman_emperors['Cause_of_Death'] == 'Possibly assassinated'])
v = len(val)/len(roman_emperors) * 100

plt.pie([v, 100-v], labels=['Assissanated', 'Not Assissanated'], autopct='%1.2f%%')

In [ ]:
roman_emperors = pd.read_csv('roman-emperor-reigns.csv')
roman_emperor_reign_lengths = roman_emperors['Length_of_Reign'].values

# Note: Not sure 'bout "possible assassination". 
val = roman_emperors.loc[roman_emperors['Cause_of_Death'] == 'Assassinated']
## uncomment the bottom line to include possible assassination
# val = val.append(roman_emperors.loc[roman_emperors['Cause_of_Death'] == 'Possibly assassinated'])
plt.pie(val['Length_of_Reign'], labels=val['Emperor'], autopct='%1.2f%%')

# Question 10
Create a scatter plot showing the relationship between the total revenue earned by arcades and the number of Computer Science PhDs awarded in the U.S. between 2000 and 2009.
Don't forget to label your axes!
Color each dot according to its year.

In [9]:
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline


arcade_revenue_cs_doctorates = pd.read_csv('arcade-revenue-vs-cs-doctorates.csv')
arcade_revenue = arcade_revenue_cs_doctorates['Total Arcade Revenue (billions)'].values
cs_doctorates_awarded = arcade_revenue_cs_doctorates['Computer Science Doctorates Awarded (US)'].values

# arcade_revenue_cs_doctorates

fig, ax = plt.subplots()

colors = cm.rainbow(np.linspace(0, 1, len(arcade_revenue_cs_doctorates['Year'])))

for i in range(len(arcade_revenue_cs_doctorates['Year'])):
    ax.scatter(arcade_revenue[i], cs_doctorates_awarded[i],color=colors[i])

ax.set_xlabel('Total Arcade Revenue (billions)')
ax.set_ylabel('Computer Science Doctorates Awarded (US)')

FileNotFoundError: [Errno 2] No such file or directory: 'arcade-revenue-vs-cs-doctorates.csv'